.navbar {
  width: 100%;
  padding: 10px 0px;
  display: flex;
  justify-content: center;
  background-color: #009879;
}
.navbar ul {
  width: 220px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar ul li {
  list-style-type: none;
}
.navbar a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}
.navbar .favouritesContainer,
.navbar .homeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.navbar .favouritesContainer span,
.navbar .homeContainer span {
  margin-top: 8px;
}
